# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Model checkpoints
*.pth

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large datasets
data/raw/
data/processed/
data/patches/

# Temporary files
*.log
*.tmp

# Windows
Thumbs.db
Desktop.ini

# Large GIS files
data/gfw/

# Large outputs
outputs/forest_loss_overlay.png
*.tif